/* CSS variables based on design system requirements */

:root {
  --border-radius: 20px;
  --box-shadow: 0px 6px 4px #00000040;
  --background-color-dark: #0b113e;
  --background-color-med: #232952;
  --background-color-light: #b9c1c6;
  --text-color: #0b113e;
  --text-color-light: #586874;
  --primary-red: #db0a40;
}

.swiper-button-prev {
  color: orange;
}
.swiper-button-next {
  color: orange;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color-dark);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
